<div class="flash-wrapper">
    <% if (success && success.length) { %>
        <% success.forEach((message) => { %>
        <div class="flash-toast success">
            <span class="flash-icon"><i class="fa-solid fa-circle-check"></i></span>
            <span><%= message %></span>
        </div>
        <% }) %>
    <% } %>
    <% if (error && error.length) { %>
        <% error.forEach((message) => { %>
        <div class="flash-toast error">
            <span class="flash-icon"><i class="fa-solid fa-circle-exclamation"></i></span>
            <span><%= message %></span>
        </div>
        <% }) %>
    <% } %>
</div>
